/* body {
  font-family: 'Montserrat';
  padding-left: 80px;
  padding-right: 80px;
} */

/* button {
  font-family: 'Montserrat';
} */

#staticDiv {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#static1 {
  width: auto;
  height: auto;
  max-width: 1120px;
  max-height: 900px;
}

#static2 {
  width: auto;
  height: auto;
  max-width: 1120px;
  max-height: 800px;
}

h1 {
  margin-top: 0px;
  font-size: 30px;
}

h2 {
  font-size: 23px;
  font-weight: 500;
}

.review {
  font-family: 'Montserrat';
  padding-left: 80px;
  padding-right: 80px;
  color: #222222;
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.general {
  color: #222222;
  padding-bottom: 10px;
}

.star {
  width: 20px;
  height: 20px;
}

.star2 {
  width: 30px;
  height: 30px;
}

.section{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-left: -8px;
  margin-right: -8px;
}

.ratings {
  display: block;
}

.rate {
  padding-left: 8px;
  padding-right: 8px;
  width: 40%;
  margin-right: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rateName {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bar {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}

.barRating {
  position: relative;
  height: 4px;
  width: 100%;
  margin-right: 4px;
  background: rgb(221, 221, 221);
  border-radius: 2px;
}

.fill {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
  background: #222222;
  width: 0%;
}

.barRatingNum {
  color: rgb(34, 34, 34);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-left: 6px;
}

.userReview {
  width: 40%;
  margin-right: 8%;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 12px;
  line-height: 23px;
  font-weight: 400;
}

.userReviewTop {
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile {
  height: 56px;
  width: 56px;
}

#profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.username {
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
  line-height: 20px;
}

.date {
  color: rgb(113, 113, 113);
  font-weight: 400;
  font-size: 14px;
}

.readMore {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: underline;
  font-weight: 500;
}

.modalButton {
  font-family: 'Montserrat';
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgb(34, 34, 34);
  padding: 13px 23px;
  background: rgb(255, 255, 255);
}

.Modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.Modal.hide {
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

.modalSetting {
  position: relative;
  border-radius: 12px;
  width: 100%;
  bottom: -150vh;
  max-width: 1032px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;

  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: slideIn;
}

.modalSetting.hide {
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: slideOut;
}

.close {
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  font-size: 18px;
  left: 32px;
  top: 24px;
}

.space {
  margin-bottom: 72px;
}
.modalContent {
  padding: 24px;
  padding-top: 10px;
  margin-left: -8px;
  margin-right: -8px;
  overflow: scroll;
  font-size: 14px;
  line-height: 35px;
}

.modalLeft {
  position: sticky;
  top: 0px;
  width: 30%;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.modalRight {
  width: 55%;
  float: left;
  margin-left: 8%;
}

.modalRate {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  margin-right: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalBar {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}

.search {
  display: flex;
  margin-bottom: 36px;
  margin-top: 0px;
  max-height: 44px;
}

.searchBar {
  position: relative;
  cursor: text;
  display: flex;
  width: 100%;
  margin: 0px;
  border: none;
  color: rgb(34, 34, 34);
  background-color: rgb(247, 247, 247);
  align-items: center;
  padding: 12px 12px 12px 16px;
  border-radius: 100px;
  box-shadow: rgb(176, 176, 176) 0px 0px 0px 1px inset;
}

.searchBar.clicked {
  box-shadow: rgb(34, 34, 34) 0px 0px 0px 2px inset;
}

.searchIcon {
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  max-width: 50%;
  white-space: nowrap;
  margin-right: 8px;
  padding: 0px;
}

.searchIcon.clicked {
  stroke: currentColor;
  stroke-width: 1;
}

.searchReview {
  flex: 1 1 0%;
}

.deleteIcon {
  display: flex;
  cursor: pointer;
  color: rgb(176, 176, 176)
}
.deleteIcon:hover {
  color: rgb(113, 113, 113);
}
input {
  width: 100%;
  border: none;
  outline: none;
  margin: 0px 8px 0px 0px;
  min-height: 1px;
  color: rgb(34, 34, 34);
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
}

.modalUserReview {
  width: 100%;
  margin-right: 8%;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 40px;
  line-height: 24px;
  font-weight: 400;
}

.mark {
  background-color: yellow;
}

/* @media (min-width: 1128px) {
  body {
    padding-left: 80px;
    padding-right: 80px;
  }
  .userReview {
    width: 40%;
  }
  .rate {
    width: 40%;
  }
}

@media (min-width: 744px) {
  body {
    padding-left: 40px;
    padding-right: 40px;
  }
  .ratings {
    display: block
  }
  .rate {
    width: 39%;
    margin-right: 5%;
  }
}

@media (min-width: 375px) {
  body {
    padding-left: 24px;
    padding-right: 24px;
  }
} */

@keyframes slideIn {
  from {
    bottom: -150vh;
    z-index: -1;
  }
  to {
    bottom: 0;
    z-index: 5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes slideOut {
  from {
    z-index: 5;
    bottom: 0;
  }
  to {
    z-index: -1;
    bottom: -150vh;
  }
}

@keyframes fadeOut {
  from {
    z-index: 5;
    opacity: 1;
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}